<!DOCTYPE html>
<html>
<head>
    <title>Api documentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <style>
        .resourceUri {
            font-family: Monaco, 'Lucida Console', monospace;
        }

        h1 {
            margin: 0;
            background: #2D679C;
            padding: 20px 45px;
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
            border-bottom: 1px solid #15A1D8;
            font-family: Monaco, 'Lucida Console', monospace;
            font-size: 28px;
        }

    </style>
</head>
<body>
<h1>Api documentation index</h1>

<div class="info col-md-8">
    <ul class="resourceUri" th:each="uri : ${uris}">
        <li><a th:href="'api-doc/' + ${uri}" th:text="'api-doc/' + ${uri}"></a></li>
    </ul>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
